button{
    background-color: blue;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}


.App{
    text-align: center;
}

hr {
    border-top:1px dotted #000;
}